body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

  .app {
    text-align: center;
  }
  
  header {
    background-color: #2196F3;
    height: 64px;
    color: white;
    text-align: center;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  }
  
  nav {
    display: flex;
    align-items: center;
    height: 64px;
    margin-left: 62px;
    gap: 20px;
  }
  
  nav button {
    background-color: #2196F3;
    cursor: pointer;
    font-size: 1rem;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    line-height: 21 / 14 * 100%;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.7);
    padding: 23px 18px;
    height: 64px;
  }
  
  nav button.active {
    background-color: #1E88E5;
    color: #FFFFFF;
  }
  
  .gallery {
    padding: 0 0 48px 0;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    margin: 48px 62px;
  }
  
  .card {
    width: 225px;
    height: 225px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  
  .card img {
    width: 100%;
    height: 225px;
    object-fit: cover;
  }
  
  .heart-icon {
    width: 40px;
    bottom: 14px;
    right: 14px;
    position: absolute;
    cursor: pointer;
    transition: fill 0.3s ease;
    opacity: 0;
    visibility: hidden;
    stroke: #F24E1E;
  }

  .heart-icon:hover {
    fill: #F24E1E;
  }

  .heart-icon.favorited {
    fill: #FF3A00;
    stroke: #FF3A00;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24),
                0px 9px 18px rgba(0, 0, 0, 0.18);
    transform: scale(1.06666);
  }

  .card:hover .heart-icon {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transform: scale(1.06666);
  }
  


  footer p {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }